Data
Data/HistoricalPM25.csv
face_recognition_model/model-028.model.keras
face_recognition_model/model-028.model.keras
pollution_forecast_model/models/no2/random_forest_model.pkl
pollution_forecast_model/models/pm10/random_forest_model.pkl
pollution_forecast_model/models/pm10/pm_10_model.keras
pollution_forecast_model/models/pm25/random_forest_model.pkl